<div class="container">


  <div class="starter-template mt_105">
    <h1 class="ab_head">STILLSHARE</h1>
    <p class="lead ab_lead">
      This is a web-based photo-sharing application and service that allows user to share their pictures with their
      family and friends. You can find your friends and follow them to get latest update about what they are sharing.
    </p>
  </div>

</div>
