<div class="container home-container">

  {{#if image_data}}
    {{#each image_data }}
      <div class="row">
        <div class="panel panel-info img-feed-panel center-block">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
              Uploaded By : {{this.following_username}}
            </h3>
            <h3 class="panel-title pull-right">
              Likes : <span class="badge"> {{this.no_likes}} </span>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <img src="http://filestore.c100.hasura.me/v1/file/{{this.content}}" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-success center-block">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
            </button>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  <div class=" col-md-12 col-lg-12 default_imagefeed_container {{#if image_data}}hide{{/if}}">
    <h3 class="text-center">Welcome, Nothing to show on the Image Feed </h3>
    <h4 class="text-center"> Follow your friends to see images posted by them</h4>
  </div>

</div>
