
   <div class="container">

     <div class="starter-template mt_90">
       <h1 class="ab_head">STILLSHARE</h1>
       <p class="lead ab_lead">
         A PLACE WHERE PICTURES TALK
       </p>
     </div>

   </div><!-- /.container -->
