<div class="container">

  <div class="section_profile_info">
    <div class="user_info container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 padding">
          <img src="http://filestore.c100.hasura.me/v1/file/e0dc9972-2058-4c52-9d32-ca6d449d3a8a" class="img-responsive profile_img">
        </div>
        <div class="col-lg-9 col-md-9 mid">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>Username</h3>
            </div>
            <div class="col-md-12 col-lg-12">
              <h3>Description</h3>
            </div>
          </div>

        </div>
        <!-- <div class="col-lg-3 col-md-3 mid">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="btn btn-primary">
                  Upload <input type="file" style="display: none;">
              </label>
            </div>

          </div>
        </div> -->
      </div>
    </div>

    <div class="user_stats container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h3>Posts:</h3>
        </div>
        <div class="col-lg-4 col-md-4">
          <h3>Followers:</h3>
        </div>
        <div class="col-lg-4 col-md-4">
          <h3>Following:</h3>
        </div>
      </div>
    </div>

  </div>

  <div class="section_profile_photos">
    <div class="row">

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
          <img src="http://filestore.c100.hasura.me/v1/file/e0dc9972-2058-4c52-9d32-ca6d449d3a8a" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
          <img src="http://filestore.c100.hasura.me/v1/file/80c616b2-7181-4e1d-a3d2-da266e053a94" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
          <img src="http://filestore.c100.hasura.me/v1/file/1639c149-e4ea-4a2a-9351-86bef33cd927" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
          <img src="http://fakeimg.pl/365x365/" class="img-responsive">
      </div>
    </div>
  </div>


</div>
