body {
  padding: 50px;
  background: url("/images/background.jpg");
  font: 15px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mt_90 {
  margin-top: 90px;
}

.wd_50 {
  width: 50%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.alert {
  margin-bottom: 0;
}

.alert-danger {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 3px;
}

.hide_link {
  display: none !important;
}

.show_link {
  display: inline !important;
}

.brand-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/*=========================
  Login Styles
===========================*/

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
  border-color: #2AAAE0;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section_profile_info {
  margin-bottom: 40px;
  /*border: 2px solid black;*/
  margin-top: 40px;
  background: #eee;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.ab_head {
  font-size: 50px;
}

.ab_lead {
  font-size: 32.5px;
}

.home-container {
  margin-top: 30px;
}

.img-feed-panel {
  max-width: 850px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#profile_file , #up_file {
  visibility: hidden;
  position: absolute;
}

.user_info {
  /*border: 2px solid red;*/
}

.user_stats {
  /*border: 2px solid blue;*/
}

.mid {
  margin: 20px auto;
  /*border: 2px solid green;*/
}

.search_btn {
  background: #008080;
  border-color: transparent;
  border-radius: 23px;
}

.search_btn:hover{
  background: #004C4C;
  border-color: #004C4C;
}

.se_inp {
  border-radius: 23px;
  border-color: #008080;
}

.se_inp:focus,.se_inp:active {
  color: #18E5D6;
  border-color: #18E5D6;
}

.padding{
  padding: 10px 40px 40px 40px;
}

.hide {
  display: none;
}

.profile_img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.prof_img_btn_div {
  margin-top: 20px;
}


.port-image
{
    width: 100%;
}

.user_post
{
    margin-bottom: 30px;
}

.feed_img {
  width: 100%;
  height: 200px;
}

.user_post:hover{
  cursor: pointer;
}

.usrnme {
  display: inline;
}

#postup_btn,.ff_btn {
  margin-top: 10px;
}

/*For register form */
.well {
  margin-top: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#register_form .form-control:focus {
  border-color: #2AAAE0;
}

.accent {
  color: #18BC9C;
}


/*=========================
  Media Queries
===========================*/

@media only screen and (min-width: 768px) {

}
